# Python
__pycache__/
*.py[cod]
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# ML specific
models/*.pkl
*.h5
*.pt

# Coverage reports
htmlcov/
.coverage
.coverage.*
coverage.xml
*.cover